@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai+2|Ubuntu:500&display=swap");
:root {
  --theme-color: #36847c;
  --theme-sub-color: #364f79;
  --text-color: #7a7d85;
  --border-color: #dddddd;
  --background: #eef2f5;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Nunito", sans-serif;
  background: #f7f7f7;
}
